<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mo.lib" >


    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <service
            android:name=".KIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".KPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"/>
    </application>
</manifest>
